.THIS .horizontal-p-none .slds-accordion__section{
    padding: .75rem 0;
}
.THIS .horizontal-p-none .slds-accordion__section .slds-accordion__summary-heading{
    padding: 0 10px;
}
.THIS .horizontal-p-none .slds-accordion__section .product-chart-box{
    overflow: auto;
    margin-bottom: -.75rem;
}
.THIS .service-table2 tr td:first-child{
    width: 230px;
}
.THIS .service-table table tr td{
    border-bottom: none;
}
.THIS .service-table table tr:last-child td{    
    border-bottom: none;
    border-top: 1px solid rgb(217, 219, 221)
}
.THIS .forcePageBlockSectionRow{
    max-height: 420px;
    overflow: auto;
}