.THIS .cmn_modelbox .selected-product-details .slds-input {
    width: 100%;
    text-align: left;
}
.THIS .slds-modal__content tr td input[type="text"]{
    padding:0 10px;border-radius:.25rem;color:#647687;height:32px; width:100%; text-align:left;
}